<button class="btn-primary" (click)="showList = !showList">{{showList ? 'Novo' : 'Voltar para lista'}}</button>
<p>Lista de Usuarios ({{users?.length}})</p>

<div *ngIf="showList">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row"><button class="btn-primary" (click)="openDetails(user)">Editar</button></th>
                <th scope="row">{{user.id}}</th>
                <th scope="row">{{user.name}}</th>
                <th scope="row">{{user.email}}</th>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!showList">
    <form>
        <div class="form-group">
            <label for="exampleInputNome">Nome:</label>
            <input type="text" class="form-control" id="exampleInputNome" aria-describedby="emailHelp" placeholder="Nome" [(ngModel)]="user.name" name="name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email"  [(ngModel)]="user.email" name="email">
        </div>
        <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
    </form>
</div>